@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald.ttf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato.ttf') format('opentype');
    font-weight: normal;
    font-size: normal;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: #e8e9ec;
    color: #262a3f;
}

p {
    margin: .7rem 0;
}

a {
    display: inline-block;
    color: #2d539e;
}

li:not(:last-child) {
    margin-bottom: 2.1rem;
}

a:hover,
a:focus {
    color: #7759B4;
}

input,
textarea {
    color: #8B98B6;
    border: 3px #8B98B6 solid;
    border-radius: 8px;
}

button {
    color: #84a0c6;
    border: 3px #84a0c6 solid;
    font-weight: bold;
    border-radius: 8px;
}

button,
input,
textarea {
    display: block;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: transparent;
}

button {
    cursor: pointer;
}

button:hover,
button:focus {
    background: #84a0c6;
    color: #e8e9ec;
}

/* hide spinners */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.p-05-1 {
    padding: .5rem 1rem;
}

.p-1-2 {
    padding: 1rem 2rem;
}

.pl-1 {
    padding-left: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-3 {
    margin-right: 3rem;
}

.inlineblock {
    display: inline-block;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.base-header {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
}

.header-link {
    font-size: 1.4rem;
    padding: .6rem 0;
    text-decoration: none;
}

.header-link:hover {
    text-decoration: underline;
}

.header-link._active {
    color: #7759B4;
    font-weight: bold;
}

.content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.text-result {
    line-height: 4rem;
}

.text-meta {
    text-align: right;
    max-width: 30%;
}

.tag {
    border-radius: 40px;
    color: #161821;
}

.tag:not(:last-child) {
    margin-right: 1rem;
}

.tagname {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

/* .tag._norp::after { */
/*     content: 'norp'; */
/*     position: absolute; */
/*     bottom: -15px; */
/*     font-size: 1.3rem; */
/*     font-family: 'Oswald', Arial, Helvetica, sans-serif; */
/* } */

/* .tag._date::after { */
/*     content: 'date'; */
/*     position: absolute; */
/*     bottom: -15px; */
/*     font-size: 1.3rem; */
/*     font-family: 'Oswald', Arial, Helvetica, sans-serif; */
/* } */
