.tag._background._norp {
    background: #84a0c6;
}

.tag._color._norp {
    color: #84a0c6;
}

.tag._background {
    background: #84a0c6;
}

.tag._background._date {
    background: #a093c7;
}

.tag._color._date {
    color: #a093c7;
}

.tag._background._loc {
    background: #e2a478;
}

.tag._color._loc {
    color: #e2a478;
}
